<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>harry_potter</title>
    <!-- <link href="https://fonts.googleapis.com/earlyaccess/nikukyu.css" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet"> -->
    <!-- <link rel="stylesheet" href="./sanitize.css"> -->
    <!-- <link rel="stylesheet" href="./style.css"> -->
</head>
<body style="padding-top: 5rem">
    
    <!--navbar section-->
    <nav class="navbar navbar-expand-lg navbar-light bg-dark py-2 fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">
                <h2 class="text-white pt-1">harry potter area</h2>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" href="#osusume">おすすめポイント</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#attraction">アトラクション</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#restraunt">レストラン</a>
                </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- title section -->
    <div class="align-items-center py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto text-center">
                    <h1 class="font-weight-bold">ハリーポッターエリア</h1>
                    <p>すべてが魔法。すべてが現実。</p>
                </div>
            </div>
        </div>
    </div>

    <!-- intro section -->
    <div class="">
        <div class="container">
            <div class="row">
                <div class="flex mx-auto">
                    <h2 class="font-weight-bold bg-light">ハリーポッターエリアの様々な魅力をご紹介！</h2>
                </div>
                <div class="col-lg-7 mt-4">
                    <img class="img-fluid rounded" src="/assets/hallypotter/header.jpeg" alt="About image">
                </div>
                <div class="col-lg-5 mt-4">
                    <h2 class=""></h2>
                    <p class="border">ハリー・ポッター™の物語の世界を、圧倒的なスケールと徹底した細部へのこだわりで再現した壮大なエリア、ウィザーディング・ワールド・オブ・ハリー・ポッター™へようこそ。そびえ立つホグワーツ™城、その前には魔法使いの住むホグズミード村™が広がり、ライド・アトラクションや数々のお店も。あなたはここで、“あの世界”を実際に楽しむことができるのです。</p>
                </div>
            </div>
        </div>
    </div>

    <!-- osusume section -->
    <div id="osusume">
        <div class="container my-3">
            <div class="row">
                <div class="text-center mx-auto">
                    <h2 class="my-4 font-weight-bold bg-light">＜おすすめポイント＞</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 flex mx-auto">
                    <img class="img-fluid rounded-circle" src="/assets/hallypotter/castle.jpeg" alt="About image">
                </div>
                <div class="col-lg-6 border">
                    <h2 class="my-3 bg-light">ホグワーツ™️城</h2>
                    <p class="">険しい岩山に堂々と立つホグワーツ™城。城の中では「ダンブルドアの校長室」などホグワーツ™魔法魔術学校の教室や廊下を巡りましょう。</p>
                </div>
            </div>
        </div>
        <div class="container my-3">
            <div class="row">
                <div class="col-lg-6 flex mx-auto">
                    <img class="img-fluid rounded-circle" src="/assets/hallypotter/hogumeat.jpeg" alt="About image">
                </div>
                <div class="col-lg-6 border">
                    <h2 class="my-3 bg-light">ホグズミート村™️</h2>
                    <p class="">魔法使いの住む村、ホグズミード村™には、ホグワーツ™魔法魔術学校の生徒たちもよく立ち寄るお店がたくさんあります。</p>
                </div>
            </div>
        </div>
        <div class="container my-3">
            <div class="row">
                <div class="col-lg-6 flex mx-auto">
                    <img class="img-fluid rounded-circle" src="/assets/hallypotter/hogwarts_express.jpeg" alt="About image">
                </div>
                <div class="col-lg-6 border">
                    <h2 class="my-3 bg-light">ホグワーツ™️・エクスプレス</h2>
                    <p class="">魔法界に足を踏み入れると現れる、印象的な蒸気機関車。<br/>ホグワーツ™特急のフレンドリーな車掌に挨拶して、記念写真を撮ってもらいましょう。</p>
                </div>
            </div>
        </div>
    </div>

    <!-- attraction section -->
    <div id="attraction">
        <div class="container my-3">
            <div class="row">
                <div class="text-center mx-auto">
                    <h2 class="my-4 font-weight-bold bg-light">＜アトラクション＞</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 flex mx-auto">
                    <img class="img-fluid rounded-circle" src="/assets/hallypotter/forbidden-journey.webp" alt="About image">
                </div>
                <div class="col-lg-6 border">
                    <h2 class="my-3 bg-light">ハリー・ポッター・アンド・ザ・<br/>フォービドゥン・ジャーニー™️</h2>
                    <p class="">世界No.1※ライドの栄誉を過去5年連続受賞、ハリー・ポッター™の世界を全身で駆ける圧倒的体感ライドが、さらに進化！リアリティを極めた超臨場映像により、もはや3Dメガネは必要なし。
                        さらにパワーアップした魔法の効果で、ドラゴンの炎が、ディメンターの冷気が、全身を直撃！360度広がる魔法界を、もっとリアルに、もっと直に、全身むき出しで駆け巡る新たな冒険で、新次元の興奮を体感！</p>
                </div>
            </div>
        </div>
        <div class="container my-3">
            <div class="row">
                <div class="col-lg-6 flex mx-auto">
                    <img class="img-fluid rounded-circle" src="/assets/hallypotter/hippogriff.webp" alt="About image">
                </div>
                <div class="col-lg-6 border">
                    <h2 class="my-3 bg-light">フライト・オブ・ザ・ヒッポグリフ™️</h2>
                    <p class="">魔法界の生き物であるヒッポグリフと空を翔けるこのライドは、家族でも楽しむことができるアトラクションです。
                        ハグリッド™からヒッポグリフへの正しい近づき方を教えてもらった後、飛行訓練を始めましょう。                   
                        オオワシの頭と馬の胴体を持つヒッポグリフは、とても誇り高い魔法生物なので、近づくときは、おじぎするのを忘れずに。ハグリッドの小屋やかぼちゃ畑の上空を旋回するこのライドでは、すばらしい景観もお楽しみください。</p>
                </div>
            </div>
        </div>
    </div>

    <!-- restraunt section -->
    <div id="restraunt">
        <div class="container my-3">
            <div class="row">
                <div class="text-center mx-auto">
                    <h2 class="my-4 font-weight-bold bg-light">＜レストラン＞</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 flex mx-auto">
                    <img class="img-fluid rounded-circle" src="/assets/hallypotter/hogs-head.webp" alt="About image">
                </div>
                <div class="col-lg-6 border">
                    <h2 class="my-3 bg-light">ホッグズ・ヘッド・パブ</h2>
                    <p class="">「三本の箒™」の隣にある、怪しげなムードが漂うパブ。
                        お子さまも楽しめる魔法界の飲み物のバタービール™から、ホッグズ・ヘッド特別醸造のドラフト・ビールまで幅広くセレクトしています。</p>
                </div>
            </div>
        </div>
        <div class="container my-3">
            <div class="row">
                <div class="col-lg-6 flex mx-auto">
                    <img class="img-fluid rounded-circle" src="/assets/hallypotter/magic-neep-cart.webp" alt="About image">
                </div>
                <div class="col-lg-6 border">
                    <h2 class="my-3 bg-light">マジック・ニープ™️・カート</h2>
                    <p class="">果物や飲み物、スナックを取りそろえた、カラフルなフルーツ・カート</p>
                </div>
            </div>
        </div>
        <div class="container my-3">
            <div class="row">
                <div class="col-lg-6 flex mx-auto">
                    <img class="img-fluid rounded-circle" src="/assets/hallypotter/three-broomsticks.webp" alt="About image">
                </div>
                <div class="col-lg-6 border">
                    <h2 class="my-3 bg-light">三本の箒™️</h2>
                    <p class="">ホグワーツ™魔法魔術学校の先生や生徒たちもお気に入りの、ホグズミード™の“老舗パブ兼宿屋”
                        ホグズミード™にある三本の箒™は、ホグワーツ™魔法魔術学校の先生や生徒たちもお気に入りの“老舗パブ兼宿屋”です。
                        驚くほど高い天井を見上げれば、木製の階段やバルコニーが無造作に入り混じる不思議な空間に、だれもが圧倒されることでしょう。
                        魔法界の飲み物「バタービール™」は、こちらでもお楽しみいただけます。ノンアルコールの甘いドリンクなので、お子さまも安心してご注文ください。
                        このパブではほかにも、フィッシュ・アンド・チップスやシェパーズパイといったイギリス伝統の味や、デザートもご用意しています。
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- footer section -->
    <footer class="navbar navbar-expand-lg navbar-light bg-dark py-2">
        <div class="footer-top my-3">
            <div class="container">
                <div class="row">
                    <div class="">
                        <h2 class="text-white pt-1">harry potter area</h2>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>