<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>harry_potter</title>
    <!-- <link href="https://fonts.googleapis.com/earlyaccess/nikukyu.css" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/sanitize.css">
    <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>

    <section class="section">
        <h1 class="section-headline">ハリーポッターエリアの様々な魅力をご紹介！</h1>
        <figure class="about">
            <img class="about-image" src="/assets/hallypotter/castle.jpeg" alt="About image">
            <figcaption class="about-caption">
                <h2 class="about-headline">2014年にオープンした魔法の世界</h2>
                <p class="about-description">
                    ハリー・ポッター™の物語の世界を、圧倒的なスケールと徹底した細部へのこだわりで再現した壮大なエリア、ウィザーディング・ワールド・オブ・ハリー・ポッター™へようこそ。

そびえ立つホグワーツ™城、その前には魔法使いの住むホグズミード村™が広がり、ライド・アトラクションや数々のお店も。

あなたはここで、“あの世界”を実際に楽しむことができるのです。
                </p>
            </figcaption>
        </figure>
    </section>


    <section class="section">
        <h1 class="headline">おすすめポイント</h1>
        <figure class="about">
            <img class="about-image" src="/assets/hallypotter/hogwarts_express.jpeg" alt="castle">
            <figcaption class="about-caption">
                <h2 class="osusume a">ホグワーツ™️城</h2>
                <p class="about-description">
                    紹介文textttttthsirhnoihtnoristextttttthsirhnoihtnoristextttttthsirhnoihtnoris
                    <br/>
                    feutextttttthsirhnoihtnoristextttttthsirhnoihtnoristextttttthsirhnoihtnoris
                </p>
            </figcaption>
        </figure>
        <figure class="about">
            <img class="about-image" src="/assets/hallypotter/hogumeat.jpeg" alt="hogumeat">
            <figcaption class="about-caption">
                <h2 class="osusume b">ホグズミート村™️</h2>
                <p class="about-description">
                    紹介文textttttthsirhnoihtnoristextttttthsirhnoihtnoristextttttthsirhnoihtnoris
                    <br/>
                    feutextttttthsirhnoihtnoristextttttthsirhnoihtnoristextttttthsirhnoihtnoris
                </p>
            </figcaption>
        </figure>
        <figure class="about">
            <img class="about-image" src="/assets/hallypotter/hogwarts_express.jpeg" alt="express">
            <figcaption class="about-caption">
                <h2 class="osusume b">ホグワーツ™️・エクスプレス</h2>
                <p class="about-description">
                    紹介文textttttthsirhnoihtnoristextttttthsirhnoihtnoristextttttthsirhnoihtnoris
                    <br/>
                    feutextttttthsirhnoihtnoristextttttthsirhnoihtnoristextttttthsirhnoihtnoris
                </p>
            </figcaption>
        </figure>
    </section>

    <section class="section">
        <h1 class="headline">アトラクション</h1>
        <figure class="about">
            <img class="about-image" src="/assets/hallypotter/forbidden-journey.webp" alt="express">
            <figcaption class="about-caption">
                <h2 class="attracion a">ハリー・ポッター・アンド・ザ・<br/>フォービドゥン・ジャーニー™️</h2>
                <p class="about-description">
                    紹介文textttttthsirhnoihtnoristextttttthsirhnoihtnoristextttttthsirhnoihtnoris
                    <br/>
                    feutextttttthsirhnoihtnoristextttttthsirhnoihtnoristextttttthsirhnoihtnoris
                </p>
            </figcaption>
        </figure>
        <figure class="about">
            <img class="about-image" src="/assets/hallypotter/hippogriff.webp" alt="express">
            <figcaption class="about-caption">
                <h2 class="attracion b">フライト・オブ・ザ・ヒッポグリフ™️</h2>
                <p class="about-description">
                    紹介文textttttthsirhnoihtnoristextttttthsirhnoihtnoristextttttthsirhnoihtnoris
                    <br/>
                    feutextttttthsirhnoihtnoristextttttthsirhnoihtnoristextttttthsirhnoihtnoris
                </p>
            </figcaption>
        </figure>
    </section>

    <section class="section">
        <h1 class="headline">レストラン</h1>
        <figure class="about">
            <img class="about-image" src="/assets/hallypotter/hogs-head.webp" alt="express">
            <figcaption class="about-caption">
                <h2 class="restrant a">ホッグズ・ヘッド・パブ</h2>
                <p class="about-description">
                    紹介文textttttthsirhnoihtnoristextttttthsirhnoihtnoristextttttthsirhnoihtnoris
                    <br/>
                    feutextttttthsirhnoihtnoristextttttthsirhnoihtnoristextttttthsirhnoihtnoris
                </p>
            </figcaption>
        </figure>
        <figure class="about">
            <img class="about-image" src="/assets/hallypotter/magic-neep-cart.webp" alt="express">
            <figcaption class="about-caption">
                <h2 class="restrant b">マジック・ニープ™️・カート</h2>
                <p class="about-description">
                    紹介文textttttthsirhnoihtnoristextttttthsirhnoihtnoristextttttthsirhnoihtnoris
                    <br/>
                    feutextttttthsirhnoihtnoristextttttthsirhnoihtnoristextttttthsirhnoihtnoris
                </p>
            </figcaption>
        </figure>
        <figure class="about">
            <img class="about-image" src="/assets/hallypotter/three-broomsticks.webp" alt="express">
            <figcaption class="about-caption">
                <h2 class="restrant c">三本の箒™️</h2>
                <p class="about-description">
                    紹介文textttttthsirhnoihtnoristextttttthsirhnoihtnoristextttttthsirhnoihtnoris
                    <br/>
                    feutextttttthsirhnoihtnoristextttttthsirhnoihtnoristextttttthsirhnoihtnoris
                </p>
            </figcaption>
        </figure>
        
    </section>

    <section class="section">
        <h1 class="headline">ショップ</h1>
        <h2 class="shop a">バタービール</h2>
        <h2 class="shop b"></h2>
    </section>

    <script src="./assets/js/app.js"></script>
</body>
</html>