<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>harry_potter</title>
    <!-- <link href="https://fonts.googleapis.com/earlyaccess/nikukyu.css" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet"> -->
    <!-- <link rel="stylesheet" href="./sanitize.css"> -->
    <!-- <link rel="stylesheet" href="./style.css"> -->
</head>
<body>
    
    <!--navbar section-->
    <nav class="navbar navbar-expand-lg navbar-light bg-dark py-2">
        <div class="container">
            <a class="navbar-brand" href="#">
                <h2 class="text-white pt-1">harry potter area</h2>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">おすめポイント</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">アトラクション</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">レストラン</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">グッズ</a>
                </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- title section -->
    <div class="align-items-center py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto text-center">
                    <h1 class="font-weight-bold">ハリーポッターエリア</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet debitis labore earum at laborum iusto!</p>
                </div>
            </div>
        </div>
    </div>

    <!-- intro section -->
    <div class="">
        <div class="container">
            <div class="row">
                <div class="flex mx-auto">
                    <h2 class="font-weight-bold bg-light">ハリーポッターエリアの様々な魅力をご紹介！</h2>
                </div>
                <div class="col-lg-7 mt-4">
                    <img class="img-fluid rounded" src="/assets/hallypotter/header.jpeg" alt="About image">
                </div>
                <div class="col-lg-5 mt-4">
                    <h2 class=""></h2>
                    <p class="border">
                        ハリー・ポッター™の物語の世界を、圧倒的なスケールと徹底した細部へのこだわりで再現した壮大なエリア、ウィザーディング・ワールド・オブ・ハリー・ポッター™へようこそ。そびえ立つホグワーツ™城、その前には魔法使いの住むホグズミード村™が広がり、ライド・アトラクションや数々のお店も。あなたはここで、“あの世界”を実際に楽しむことができるのです。
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- osusume section -->
    <div>
        <div class="container my-3">
            <div class="row">
                <div class="text-center mx-auto">
                    <h2 class="my-4 font-weight-bold bg-light">＜おすすめポイント＞</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 flex mx-auto">
                    <img class="img-fluid rounded-circle" src="/assets/hallypotter/castle.jpeg" alt="About image">
                </div>
                <div class="col-lg-6 border">
                    <h2 class="my-3 bg-light">ホグワーツ™️城</h2>
                    <p class="">
                        ハリー・ポッター™の物語の世界を、圧倒的なスケールと徹底した細部へのこだわりで再現した壮大なエリア、ウィザーディング・ワールド・オブ・ハリー・ポッター™へようこそ。そびえ立つホグワーツ™城、その前には魔法使いの住むホグズミード村™が広がり、ライド・アトラクションや数々のお店も。あなたはここで、“あの世界”を実際に楽しむことができるのです。
                    </p>
                </div>
            </div>
        </div>
        <div class="container my-3">
            <div class="row">
                <div class="col-lg-6 flex mx-auto">
                    <img class="img-fluid rounded-circle" src="/assets/hallypotter/hogumeat.jpeg" alt="About image">
                </div>
                <div class="col-lg-6 border">
                    <h2 class="my-3 bg-light">ホグズミート村™️</h2>
                    <p class="">
                        ハリー・ポッター™の物語の世界を、圧倒的なスケールと徹底した細部へのこだわりで再現した壮大なエリア、ウィザーディング・ワールド・オブ・ハリー・ポッター™へようこそ。そびえ立つホグワーツ™城、その前には魔法使いの住むホグズミード村™が広がり、ライド・アトラクションや数々のお店も。あなたはここで、“あの世界”を実際に楽しむことができるのです。
                    </p>
                </div>
            </div>
        </div>
        <div class="container my-3">
            <div class="row">
                <div class="col-lg-6 flex mx-auto">
                    <img class="img-fluid rounded-circle" src="/assets/hallypotter/hogwarts_express.jpeg" alt="About image">
                </div>
                <div class="col-lg-6 border">
                    <h2 class="my-3 bg-light">ホグワーツ™️・エクスプレス</h2>
                    <p class="">
                        ハリー・ポッター™の物語の世界を、圧倒的なスケールと徹底した細部へのこだわりで再現した壮大なエリア、ウィザーディング・ワールド・オブ・ハリー・ポッター™へようこそ。そびえ立つホグワーツ™城、その前には魔法使いの住むホグズミード村™が広がり、ライド・アトラクションや数々のお店も。あなたはここで、“あの世界”を実際に楽しむことができるのです。
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- attraction section -->
    <div>
        <div class="container my-3">
            <div class="row">
                <div class="text-center mx-auto">
                    <h2 class="my-4 font-weight-bold bg-light">＜アトラクション＞</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 flex mx-auto">
                    <img class="img-fluid rounded-circle" src="/assets/hallypotter/forbidden-journey.webp" alt="About image">
                </div>
                <div class="col-lg-6 border">
                    <h2 class="my-3 bg-light">ハリー・ポッター・アンド・ザ・<br/>フォービドゥン・ジャーニー™️</h2>
                    <p class="">
                        ハリー・ポッター™の物語の世界を、圧倒的なスケールと徹底した細部へのこだわりで再現した壮大なエリア、ウィザーディング・ワールド・オブ・ハリー・ポッター™へようこそ。そびえ立つホグワーツ™城、その前には魔法使いの住むホグズミード村™が広がり、ライド・アトラクションや数々のお店も。あなたはここで、“あの世界”を実際に楽しむことができるのです。
                    </p>
                </div>
            </div>
        </div>
        <div class="container my-3">
            <div class="row">
                <div class="col-lg-6 flex mx-auto">
                    <img class="img-fluid rounded-circle" src="/assets/hallypotter/hippogriff.webp" alt="About image">
                </div>
                <div class="col-lg-6 border">
                    <h2 class="my-3 bg-light">フライト・オブ・ザ・ヒッポグリフ™️</h2>
                    <p class="">
                        ハリー・ポッター™の物語の世界を、圧倒的なスケールと徹底した細部へのこだわりで再現した壮大なエリア、ウィザーディング・ワールド・オブ・ハリー・ポッター™へようこそ。そびえ立つホグワーツ™城、その前には魔法使いの住むホグズミード村™が広がり、ライド・アトラクションや数々のお店も。あなたはここで、“あの世界”を実際に楽しむことができるのです。
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- restraunt section -->
    <div>
        <div class="container my-3">
            <div class="row">
                <div class="text-center mx-auto">
                    <h2 class="my-4 font-weight-bold bg-light">＜レストラン＞</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 flex mx-auto">
                    <img class="img-fluid rounded-circle" src="/assets/hallypotter/hogs-head.webp" alt="About image">
                </div>
                <div class="col-lg-6 border">
                    <h2 class="my-3 bg-light">ホッグズ・ヘッド・パブ</h2>
                    <p class="">
                        ハリー・ポッター™の物語の世界を、圧倒的なスケールと徹底した細部へのこだわりで再現した壮大なエリア、ウィザーディング・ワールド・オブ・ハリー・ポッター™へようこそ。そびえ立つホグワーツ™城、その前には魔法使いの住むホグズミード村™が広がり、ライド・アトラクションや数々のお店も。あなたはここで、“あの世界”を実際に楽しむことができるのです。
                    </p>
                </div>
            </div>
        </div>
        <div class="container my-3">
            <div class="row">
                <div class="col-lg-6 flex mx-auto">
                    <img class="img-fluid rounded-circle" src="/assets/hallypotter/magic-neep-cart.webp" alt="About image">
                </div>
                <div class="col-lg-6 border">
                    <h2 class="my-3 bg-light">マジック・ニープ™️・カート</h2>
                    <p class="">
                        ハリー・ポッター™の物語の世界を、圧倒的なスケールと徹底した細部へのこだわりで再現した壮大なエリア、ウィザーディング・ワールド・オブ・ハリー・ポッター™へようこそ。そびえ立つホグワーツ™城、その前には魔法使いの住むホグズミード村™が広がり、ライド・アトラクションや数々のお店も。あなたはここで、“あの世界”を実際に楽しむことができるのです。
                    </p>
                </div>
            </div>
        </div>
        <div class="container my-3">
            <div class="row">
                <div class="col-lg-6 flex mx-auto">
                    <img class="img-fluid rounded-circle" src="/assets/hallypotter/three-broomsticks.webp" alt="About image">
                </div>
                <div class="col-lg-6 border">
                    <h2 class="my-3 bg-light">三本の箒™️</h2>
                    <p class="">
                        ハリー・ポッター™の物語の世界を、圧倒的なスケールと徹底した細部へのこだわりで再現した壮大なエリア、ウィザーディング・ワールド・オブ・ハリー・ポッター™へようこそ。そびえ立つホグワーツ™城、その前には魔法使いの住むホグズミード村™が広がり、ライド・アトラクションや数々のお店も。あなたはここで、“あの世界”を実際に楽しむことができるのです。
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- footer section -->
    <footer class="navbar navbar-expand-lg navbar-light bg-dark py-2">
        <div class="footer-top my-3">
            <div class="container">
                <div class="row">
                    <div class="">
                        <h2 class="text-white pt-1">harry potter area</h2>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>