<!DOCTYPE html>
<html>
    <head>
        <title>ハリウッドエリアの魅力についてご紹介！</title>
    </head>
    <body>
        <h2>ハリウッドエリアの魅力についてご紹介！</h2>
        <p>ここではハリウッドエリアのアトラクション、レストランなどの魅力をお届けします。<br>
        主に以下の3つをご紹介！
        </p>
        <ul>
            <li>ハリウッド・ドリーム・ザ・ライド</a>
            <li>スペース・ファンタジー・ザ・ライド</a>
            <li>メルズ・ドライブイン</a>
        </ul>
        <h3>ハリウッド・ドリーム・ザ・ライド</h3>
        <img src="/assets/hollywood/hollywood-dream.jpg" width = "640" height = "640" alt = ""/>
        <p>シートの耳元に付いているスピーカーでお気に入りの曲をかけながら、ハイスピードでユニバの空を駆け抜けることができます！
            搭載されている曲は変更していくので、何回でも楽しむことができます。
            スリルが物足りなくなった人はバックドロップで新感覚を楽しんでみるのもおすすめです。</p>
        <h3>スペース・ファンタジー・ザ・ライド</h3>
        <img src="/assets/hollywood/space.jpg" width = "640" height = "480" alt = ""/>
        <p>360度回転するライドに乗って、宇宙空間を縦横無尽に駆け回り、星々の間を潜り抜け、太陽を救いに向かいます。
            その予測不能な動きから一味違ったコースター体験を得ることができます。
            最近ではアニメやゲームなどとコラボしているので、通常版に乗れたら逆にレアかも？</p>
        <h3>メルズ・ドライブイン</h3>
        <img src="/assets/hollywood/mels.jpg" width = "640" height = "480" alt = ""/>
        <p>1950年代のアメリカをモチーフにしたハンバーガーレストランです。レトロな海外の雰囲気を感じながらお食事が楽しめます！
            筆者のおすすめはクラシックバーガーです。大きな粗びきのパティにシンプルなソースがこちらも昔ながらのアメリカを感じさせてくれます。
            ハンバーガーはもちろん、店前に停まっているクラシックカーもとてもおしゃれで、どちらも写真映えすること間違いなしです！
        </p>
    </body>
</html>
            