<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>ジュラシック・パークエリア</title>
</head>

<body class="bg-light">
  <header>
    <h1 class="page-title">ジュラシック・パークエリア</h1>
  </header>

  <p>ジュラシック・パークエリアは、映画『ジュラシックパーク』(Jurassic Park)の世界が再現されている亜熱帯の樹木が生い茂るエリアです。このエリアはなんといっても大人気アトラクション（<strong>ザ・フライング・ダイナソー、ジュラシック・パーク・ザ・ライド</strong>）があることで有名ですね。</p>

  <p>そんなジュラシックパーク・エリアは、入り口から左に沿って行って、スパイダーマン、ミニオンと順に見た次にあります。開園<del>ダッシュ</del>早歩きのしがいがありますね！</p>

  <figure class="image" style="text-align:center"><img style="width:400px" src="/assets/jurassic/jurassic_map.png">
    <figcaption>ジュラシックパークエリアの位置</figcaption>
  </figure>
  <figure class="image" style="text-align:center"><img style="width:400px" src="/assets/jurassic/entrance.png">
    <figcaption>南側の入り口</figcaption>
  </figure>

  <p>今回は<strong>アトラクション、レストラン、ショップを簡単に紹介</strong>したいと思います！</p>

  <h1>アトラクション</h1>

  <h2>フライング・ダイナソー</h2>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <figure class="image"><a href="https://www.usj.co.jp/tridiondata/usj/ja/jp/files/images/gds-images/usj-gds-the-flying-dinosaur-c.jpg?imwidth=580"><img style="width:400px" src="https://www.usj.co.jp/tridiondata/usj/ja/jp/files/images/gds-images/usj-gds-the-flying-dinosaur-c.jpg?imwidth=580"/></a></figure>
      </div>
      <div class="col-6">
        <p>
          ジャンル：絶叫系<br>
          世界22ヵ所のフライング・コースターの中で世界最長・最大高低差<br>
          地上を飛び回るだけでなく、トンネルにも入り込むスリルも！<br>
        </p>
      </div>
    </div>
  </div>
  <div class="mt-3">
    <h2>ジュラシックパーク・ザ・ライド</h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-6">
        ジャンル：絶叫系<br>
        熱帯の樹木が生い茂るジュラシックパークをボートで探検<br>
        T-レックスから逃れるため、25.9m下へ真っ逆さま！<br>
        ※水に濡れる可能性あり
      </div>
      <div class="col-6">
        <figure class="image"><a href="https://www.usj.co.jp/tridiondata/usj/ja/jp/files/images/gds-images/usj-gds-jurassic-park-the-ride-c.jpg?imwidth=580"><img style="width:400px" src="https://www.usj.co.jp/tridiondata/usj/ja/jp/files/images/gds-images/usj-gds-jurassic-park-the-ride-c.jpg?imwidth=580"/></a></figure>
      </div>
    </div>
  </div>

  <h1>レストラン</h1>
  <p>ジュラシック・パークエリアにあるレストランは3つ</p>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>レストラン</th>
        <th>提供メニュー</th>
        <th>グルメ情報</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ディスカバリー・レストラン</td>
        <td>低アレルゲンメニュー、キッズメニュー、ご飯類</td>
        <td>各種ジュラシック DONBURI セット(ローストビーフ、ロコモコ、フライドチキン)</td>
      </tr>
      <tr>
        <td>フォッシル・フュエルズ</td>
        <td>スナック</td>
        <td>ブラックペッパー・ポークリブが食べられる</td>
      </tr>
      <tr>
        <td>ロストワールド・レストラン</td>
        <td>低アレルゲンメニュー、キッズメニュー、サンドウィッチ・ハンバーガー</td>
        <td>ダイナソー・アッタク！ミートプレート（スペアリブ、タブレ、パンなど）</td>
      </tr>
    </tbody>
  </table>
  <div class="my-3">
    <h1> ショップ</h1>
    <h3>ジュラシック・アウトフィッターズ</h3>
    現地のノリで欲しいものを買えばいいと思いますが、恐竜のハット、カチューシャ、かぶりものなんかが人気らしいですよ（メルカリ調べ)
  </div>
  
  <p>以上、ジュラシックパークエリアのご紹介でした！</p>

  <h3>参考</h3>
  本家のサイト: <a href="https://www.usj.co.jp/web/ja/jp/areas/jurassic-park">ジュラシック・パーク™｜エリア紹介</a>
</body>
</html>