<html>
    <head>
        <title>ニューヨークエリアの紹介！</title>
    </head>
    <body>
        <h2>ニューヨークエリアの紹介！</h2>
        <p>ニューヨークエリアは1930年代のニューヨークの街並みを再現しています．
        このエリアの建物の多くは映画に登場した建物をモデルに作られています．
        例えば下のお店は映画ゴッドファーザーに登場するレストランです．
        映画を調べて鑑賞してから訪れるとまた違った楽しみ方ができるかも?
        </p>
        <img src="https://www.usj.co.jp/tridiondata/usj/ja/jp/files/images/gds-images/usj-gds-louies-ny-pizza-parlor-a.jpg" width = "640">
        <ul>
            <li>アメージング・アドベンチャー・オブ・スパイダーマン・ザ・ライド4K3D</a>
            <li>ターミネーター2:3-D</a>
        </ul>
        <h3>アメージング・アドベンチャー・オブ・スパイダーマン・ザ・ライド</h3>
        <img src="https://www.usj.co.jp/tridiondata/usj/ja/jp/files/images/usj-the-amazing-adventures-of-spider-man-the-ride-c.jpg?imwidth=738" width = "640">
        <p>スパイダーマンのアトラクションはコミック準拠で制作されており，スパイダーマンと一緒にNYの街を動き回れます！
        実写化されたスパイダーマン3作とは異なるので映画を期待して行くと違和感を覚えるかもしれませんが，敵の中には映画で出てくる奴らも!
    
        </p>
        <h3>ターミネーター2:3-D</h3>
        <img src="https://www.usj.co.jp/tridiondata/usj/ja/jp/files/images/usj-terminator2-3d-c.jpg?imwidth=738" width = "640">
        <p>ターミネーターのアトラクションでは，ターミネーター2の世界観を味わうことができ，巨大なスクリーンで大迫力の映像を見ることができます！
        また前説として有名な名物キャラ綾小路麗華氏にもここで会えます．</p>

    </body>
</html>