<<h1>スーパー・ニンテンドーワールドの様々な魅力をご紹介！</h1>
マリオの世界でアソビの本能を解き放て！
<h2>1 マリオカート　～クッパの挑戦状～</h2>
<img src="https://www.usj.co.jp/tridiondata/usj/ja/jp/files/images/usj-super-nintendo-world-mario-cart-koopas_challenge-c.jpg?imwidth=738">
<p>ARゴーグルを装着することで、プレイヤーが実際にマリオカートの世界を体験できるアトラクションです。<br>
こうらを投げて敵を撃退しながら、マリオやピーチ姫と一緒に驚きいっぱいのコースを突き進みましょう。<br>
レース中にたくさんのコインを集めると、アトラクション終了後にいいことがあるかも？<br>
</p>

<h2>パワーアップバンド・キーチャレンジ</h2>
<img src="https://www.usj.co.jp/tridiondata/usj/ja/jp/files/images/usj-super-nintendo-world-power-up-band-Key-challenge-c.jpg?imwidth=738">
<p>エリア内でパワーアップバンド(有料)を用いることで、ハテナブロックをたたく・ファイアボールを投げると言ったゲーム世界そのままのギミックを体験できます。<br>
みんなでクッパJr.の手下たちのアクティビティに挑戦してキーを集め、クッパJr.とのボスバトルを目指しましょう。<br>
エリア内に隠されたスタンプやキャラクターもたくさんいるので、そちらもぜひ探してみてください！<br>

<h2>キノピオ・カフェ</h2>
<img src="https://www.usj.co.jp/tridiondata/usj/ja/jp/files/images/usj-super-nintendo-world-kinopios-cafe-appearance-c.jpg?imwidth=738">
<p>シェフキノピオが作った、遊び心いっぱいのお食事を楽しめるレストランです。<br>
店内の窓からは、キノコ王国の仲間たちのアニメーションをご覧いただけます。<br>
飲み物だけのご注文も可能なので、ぜひお気軽にお立ち寄りください！<br>